body { 
    background-image: url("moroccan-flower/moroccan-flower.png");
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    line-height: 2.5em;
}
.heading{
    font-size: 40px;
    text-shadow: 2px 2px 5px red;
    /* margin: 0 auto;
    width: 25% */
    text-align: center;
}
.container-1, .container-2, .container-3, .container-4, .container-5{
    border:1px solid black;
    margin: 0 auto;
    width: 75%;  
    text-align: center;
}
.flex-box-container-1, .flex-box-container-2, .flex-box-rps, .flex-box-pick-color,.flex-blackjack-row-1,.flex-blackjack-row-2,.flex-blackjack-row-3{
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    flex-direction: row;
    justify-content: space-around;
}
.flex-box-container-1 div{
    border: 1px solid black;
    padding: 10px;
    display: flex;
    align-items:center ;
}   

.flex-box-container-2 img{
    box-shadow:0px 10px 50px grey;
    margin: 10px;
}
.flex-box-rps img:hover{
    box-shadow:0px 10px 50px blue;
}

.flex-blackjack-row-1, .flex-blackjack-row-2 {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQNsMjy1FZMYKg7ewDt_tGq6Qz13F8WJmmakA&usqp=CAU center' );
    background-size: cover;
     color: white; 
}
.flex-blackjack-row-1 div{
    border: 1px solid black;
    padding: 10px;
    height: 350px;
    flex: 1;
    text-align: center;
}
.flex-blackjack-row-1 img{
    width:25%;
    padding: 10px;
}

.flex-blackjack-row-2 button{
    border: 1px solid black;
    padding: 10px;
} 
.flex-blackjack-row-2 div{
    
    border: 1px solid black;
    padding: 10px;
}
table, th, td{
    border: 1px solid black;
    padding: 10px;
}
